.window .body {
    display: flex;
}
.window .body .col1 {
    height: 100%;
    border-right: 0.25vmin solid #C89B3C;
    overflow-y: auto;
}
.window .body .col1 {
    padding-right: 3vmin;
    height: 100%;
    width: 60%;
}
.window .body .col2 {
    padding-left: 3vmin;
    width: 40%;
    height: 100%;
    border-left: 0.25vmin solid #C89B3C;
    overflow-y: auto;
}
.window .body .col2 .title {
    color: white;
    height: 4vmin;
    line-height: 4vmin;
    font-size: 4vmin;
    width: 100%;
    text-align: center;
}
#itemList {    
    width: 100%;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1vmin;
    height: 100%;
    flex-direction: row;
    align-content: flex-start;
}
#itemList img {
    display: block;
    width: calc((100% - 1vmin * 7) / 8 - 0.5vmin);
    background-color: red;
    border: 0.25vmin solid white;
    border-radius: 1vmin;
}    
#itemList img:hover {
    border-color: #C89B3C;
}
#itemRecipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blue;
    gap: 1vmin;
}
#itemRecipe .result {
    display: contents;
}
#itemRecipe img {
    width:  5vmin;
    height: 5vmin;
    padding: 0.25vmin;
    background-color: red;
    border-radius: 1vmin;
}
#itemRecipe div.col {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 1vmin;
}
#itemRecipe div.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1vmin;
}
#itemRecipe div span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}