
.window::before {
    margin-bottom: -6px;
    flex: 0 0 auto;
}
.window::after {
    margin-top: 16px;
    flex: 0 0 auto;
}
.window .head {
    height: 40px;
    color: white;
    flex: 0 0 auto;
}


/* EMPEZAR A CAMBIAR EL CUERPO AQUI */

main > div  {
    /* display: flex;
    flex-wrap: wrap;
    padding: 8px;
    gap: 16px;
    background-color: #091428;
    color: white; */
}
main div div.campeon {
    display: block;
    margin: 16px;
    width: 350px;
    border: 2px solid #C89B3C;
    height: 500px;
}
main div div.campeon img {
    display: block;
    margin: 0;
    width: 80%;
    border: 2px solid #C89B3C;
    height: 520px;
    padding-left: 10px;
}
main div div.campeon img:hover {
    border: 2px solid #F0E6D2;
}
/* TERMINAR DE CAMBIAR EL CUERPO AQUI */




.window .foot {
    display: flex;
    height: 32px;
    flex: 0 0 auto;
}
.window .foot a {
    color: white;
    border: 1px solid white;
    padding: 4px 16px;
    height: 22px;
}
.window .foot a:hover {
    color: #C89B3C;
    border-color: #C89B3C;
}