* {
    margin: 0;
    font-family: LeagueOfFont;
    text-decoration: none;
}
@font-face {
    font-family: LeagueOfFont;
    src: url(Fuentes/Friz\ Quadrata\ Regular.ttf);
}
html, body{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
body {
    background-position: center;
    background-size: 100vmax 100vmax;
}
main {
    padding: 16px;
    max-width: calc(100% - 32px);
}
.window {
    background: linear-gradient(45deg, #091428, #0F1428);
    padding: 32px;
    border: 2px solid #C89B3C;
}
.window::before {
    content: 'x';
    display: block;
    color: #C89B3C;
    background: linear-gradient(45deg, #091428, #0A1428);
    width: 32px;
    height: 32px;
    border: 2px solid #C89B3C;
    margin-top: calc(-18px - 16px - 12px);
    margin-left: calc(100% - 2px + 12px);
    margin-bottom: 10px;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 28px;
}
.window::after {
    content: '';
    display: block;
    width: 100%;
    border: 2px solid #C89B3C;
    height: 2px;
    border-radius: 0 0 8px 8px;
    margin-top: 32px;
    margin-bottom: -38px;
}


#theme-mode {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    padding: 16px;
    gap: 16px;
    align-items: center;
    color: white;
    font-weight: bold;
    text-shadow: 0px 0px 4px black;
}
#theme-mode p {
    font-size: 20px;
}
#theme-mode img {
    width:  32px;
    height: 32px;
    border: 2px solid white;
    background-size: cover;
    background-position: center;
}
#theme-mode img:hover {
    width: 40px;
    height: 40px;
}


body.dark-mode  { background-image: url('../images/fondos/darkBackgroundImage.png');  }
body.light-mode { background-image: url('../images/fondos/lightBackgroundImage.png'); }
body.dark-mode  #theme-mode p::before { content: 'Modo Oscuro'; }
body.light-mode #theme-mode p::before { content: 'Modo Claro';  }
body.dark-mode  a span.title0 { color: rgb(255,  64,  64); }
body.light-mode a span.title0 { color: rgb( 64,  64, 255); }
body.dark-mode  #theme-mode img { background-image: url('../images/objetos/Filo_de_la_Noche.png'); }
body.light-mode #theme-mode img { background-image: url('../images/objetos/Medallon_de_los_Solari_de_Hierro.png'); }