:root {
    --background-cursor-pos: '50% 50%';
}
* {
    margin: 0;
    font-family: LeagueOfFont;
    text-decoration: none;
}
@font-face {
    font-family: LeagueOfFont;
    src: url(Fuentes/Friz\ Quadrata\ Regular.ttf);
}
html, body{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
body {
    background-position: var(--background-cursor-pos);
    background-size: auto 110vmax;
}
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: 1px;
    z-index: -1;
}
main {
    display: flex;
    flex-direction: column;
    padding: 4vmin;
    width: 100%;
    height: 100%;
    max-width: calc(100% - 4vmin * 2);
    max-height: calc(100% - 4vmin * 2);
    align-items: center;
    justify-content: center;
}
.window {
    background: linear-gradient(45deg, #091428, #0F1428);
    padding: 3vmin;
    height: 100vmin;
    aspect-ratio: 16/9;
    border-radius: 1vmin;
    max-width: calc(100vw - 3vmin * 4);
    max-height: calc((100vw - 3vmin * 4) * 9 / 16);
    border: 0.5vmin solid #C89B3C;
}
.window::before {
    content: 'x';
    display: block;
    color: #C89B3C;
    background: linear-gradient(45deg, #091428, #0A1428);
    width: 4vmin;
    height: 4vmin;
    border: 0.5vmin solid #C89B3C;
    margin-top: calc(-2vmin - 3.5vmin);
    margin-left: calc(100% - 2.25vmin + 3vmin);
    margin-bottom: 3vmin;
    border-radius: 100%;
    text-align: center;
    font-size: 3vmin;
    line-height: 3vmin;
}
.window::after {
    content: '';
    display: block;
    width: 100%;
    border: 0.5vmin solid #C89B3C;
    height: 1vmin;
    border-radius: 0 0 2vmin 2vmin;
    margin-top: 3.675vmin;
}
.window .head {
    color: #C89B3C;
    margin-top: -2vmin;
    margin-bottom: 3vmin;
}
.window .head h1 {
    height: 6vmin;
    font-size: 6vmin;
    line-height: 6vmin;
}
.window .body {
    height: 100%;
    max-height: calc(100% - 6vmin - 3vmin - 8vmin - 1vmin);
    /* background-color: green; */
}
.window .foot {
    display: flex;
    flex-direction: row;
    margin-top: 3vmin;
    height: 5vmin;
}
.window .foot a {
    color: white;
    height: 3vmin;
    font-size: 3vmin;
    line-height: 3vmin;
    border: 0.25vmin solid white;
    display: block;
    border-radius: 1vmin;
    padding: 0.875vmin 4vmin;
}
.window .foot a:hover {
    color: #C89B3C;
    border-color: #C89B3C;
}
#theme-mode {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    padding: 2vmin;
    gap: 2vmin;
    align-items: center;
    color: white;
    font-weight: bold;
    text-shadow: 0px 0px 2vmin black;
}
#theme-mode p {
    display: none;
    font-size: 2.5vmin;
}
#theme-mode img {
    width:  4vmin;
    height: 4vmin;
    border: 0.25vmin solid white;
    border-radius: 1vmin;
    background-size: cover;
    background-position: center;
}
#theme-mode img:hover {
    width: 4vmin;
    height: 4vmin;
    border-color: #C89B3C;
}


body.dark-mode::before  { background: radial-gradient(circle 10vmin at var(--background-cursor-pos), transparent 50%, rgba(  0,   0,   0, 0.500) 100%); }
body.light-mode::before { background: radial-gradient(circle 10vmin at var(--background-cursor-pos), rgba(100, 11, 11, 0.125) 50%, transparent 100%); }
body.dark-mode  { background-image: url('../images/fondos/darkBackgroundImage.png');  }
body.light-mode { background-image: url('../images/fondos/lightBackgroundImage.png'); }
body.dark-mode  #theme-mode p::before { content: 'Modo Oscuro'; }
body.light-mode #theme-mode p::before { content: 'Modo Claro';  }
body.dark-mode  a span.title0 { color: rgb(255,  64,  64); }
body.light-mode a span.title0 { color: rgb( 64,  64, 255); }
body.dark-mode  #theme-mode img { background-image: url('../images/objetos/Filo_de_la_Noche.png'); }
body.light-mode #theme-mode img { background-image: url('../images/objetos/Medallon_de_los_Solari_de_Hierro.png'); }