
.window .body a {
    color: #ffffff;
    display: flex;
}
.window .body a:hover {
    color: #C89B3C;
    margin-left: -16px;
}
.window .body a:hover::before {
    content: '>';
    width: 16px;
    height: 16px;
    text-align: center;
    display: block;
}